<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Components</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css"
      integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a href="/" class="navbar-brand">Products</a>
        <button
          class="navbar-toggler"
          data-bs-target="my-nav"
          data-bs-toggle="collapse"
          aria-controls="my-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="my-nav" class="collapse navbar-collapse">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"
                ><i class="fas fa-home me-1"></i>Home</a
              >
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/add"
                ><i class="fas fa-user-plus me-1"></i>Add User</a
              >
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#"
                ><i class="fas fa-globe me-1"></i>About</a
              >
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#"
                ><i class="fas fa-envelope me-1"></i>Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row my-4">
        <div class="col-lg-12">
          <div class="table-responsive">
            <table class="table table-striped text-center">
              <thead>
                <tr class="table-dark">
                  <th>ID</th>
                  <th>Product Name</th>
                  <th>Product Category</th>
                  <th>Product Description</th>
                  <th>Image</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Iphone</td>
                  <td>Mobile</td>
                  <td>Awesome Technology</td>
                  <td><img src="" alt="" /></td>
                  <td>
                    <a href="" class="text-success"
                      ><i class="fas fa-edit fa-lg mx-1"></i
                    ></a>
                    <a href="" class="text-danger"
                      ><i class="fas fa-trash fa-lg mx-1"></i
                    ></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/js/bootstrap.bundle.min.js"
    integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
</html>
